{% load static %}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/listar_cursos.css' %}">
    <title>Listagem de Cursos</title>
</head>
<body>
    <h2>Listagem de Cursos</h2>
    <ul>
        {% for curso in cursos %}
            <li>{{ curso.nome }} - {{ curso.descricao }}</li>
            <a class="botaoExcluir" href="{% url 'excluir_curso' curso.id %}">Excluir</a>
            <a class="botaoEditar" href="{% url 'editar_curso' curso.id %}">Editar</a>
        {% endfor %}
    </ul>
    <a href="{% url 'cadastrar_curso' %}">Cadastrar Novo Curso</a>
    <a href="{% url 'pagina_principal' %}">Voltar para a página principal</a>
</body>
</html>