{% load static %}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/pagina_principal.css' %}">
    <title>Cadastro de Aluno</title>
</head>
<body>
    <div class="container">
        <h1>Cadastro de Aluno</h1>
        <a href="{% url 'lista_alunos' %}"><button>Alunos cadastrados</button></a>
        <a href="{% url 'cadastrar_aluno' %}"><button>Cadastrar novo aluno</button></a>

        <h1>Cadastro de Cursos</h1>
        <a href="{% url url_cadastrar_curso %}"><button>Cadastrar Curso</button></a>
        <a href="{% url url_listar_cursos %}"><button>Listar Cursos</button></a>
    </div>
</body>
</html>